{% extends 'base.html' %}
{% load static %}


{% block title %}About-Us{% endblock %}

{% block content %}
<br><br><br>
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
          <p>Check our Features</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Website</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Customer Services</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Where are we located?</h3>
                    <p class="font-italic">The main Community's Headquarter is siutated at TamTam, Yaounde Cameroon.</p>
                    <p>The Community does not yet have a fix location for its Headquarter.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/features-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>The Working Team</h3>
                    <p class="font-italic">The Community is made up of dynamic people with specific skills.</p>
                    <p>The Community's work force comprises of men and women with an average age of 21 Years, making it a very young and dynamic work force</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/features-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Concerning The Community's website</h3>
                    <p class="font-italic">The website was created by a member of The Community, making the website for The Community and by The Community. </p>
                    <p>The technology used to create the website is Django which is a python based framework for dynamic and versatile websites.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/features-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>What do we produce?</h3>
                    <p class="font-italic">All our products are being produced in The Community by members of The Community. </p>
                    <p>The Community being divided into departments, a specific department is in charge of producing many products such as; Plantain chips, natural fruit juice, cakes, yogurt etc</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/features-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Our Customer Services</h3>
                    <p class="font-italic">The Community provide adequate customer services at anytime</p>
                    <p>The Community is found in various social media platforms such as <a href='https://www.facebook.com/The-Nes-C-Community'>Facebook</a> Instagram, Twitter, WhatsApp</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/features-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team ">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/image/team5.jpg" class="img-fluid" alt="" style="margin-left: 10px;margin-right: 10px;"></div>
              <div class="member-info">
                <h4>Ajeh Clovis</h4>
                <span>Chief Executive Officer</span>
                <p>General manager of the project</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic">
                <img src="static/image/team6.jpg" class="img-fluid" alt="" style="margin-left: 10px;margin-right: 10px;">
              </div>
              <div class="member-info">
                <h4>Ambe Mark-Bride</h4>
                <span>HoD ICT Department</span>
                <p>Manages The ICT and Communication Department Of The Community</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/image/team4.jpg" class="img-fluid" alt="" style="margin-left: 10px;margin-right: 10px;"></div>
              <div class="member-info">
                <h4>Fossam Queenessa</h4>
                <span>ICT Department</span>
                <p>She is a prominent member of the ICT Department.</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/image/team7.jpg" class="img-fluid" alt="" style="margin-left: 10px;margin-right: 10px;"></div>
              <div class="member-info">
                <h4>Yenika Ethel</h4>
                <span>HoD</span>
                <p>She manages the Fashion and Design Department</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

{% include 'footer.html' %}
{% endblock %}
