{% extends 'base.html' %}

{% block content %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>The Community</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Created by <a href="{% url 'home' %}">The Community</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


{% endblock %}