{% extends 'base.html' %}
{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
<br><br><br><br><br>
<body>

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="icofont-computer"></i>
              <h4><a href="#">1.  Brewery department</a></h4>
              <p>The Community produces quality fruit drinks made up of 100% fruits, which is also suited for people in any condition </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">2.	Cookery department</a></h4>
              <p>The Community produces plantain chips, which can be packaged and exported at need</p>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="icofont-computer"></i>
              <h4><a href="#">3.	ICT department </a></h4>
              <p>The creation of this website is being done by ICT department of The Community</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">4.	Banking department</a></h4>
              <p>The Community has a financial department which manages expenses or the budget.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-image"></i>
              <h4><a href="#">5.	Agriculture department</a></h4>
              <p>The Community has engaged in cultivating food crops which can be distributed to restaurants.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-image"></i>
              <h4><a href="#">6.	Medical department</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-settings"></i>
              <h4><a href="#">7.	Cosmetic department</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-earth"></i>
              <h4><a href="#">8.	Building and Transport department</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-tasks-alt"></i>
              <h4><a href="#">9.	Fashion and design department</a></h4>
              <p>In The Community, We are working on designing clothes and accessories for our brand.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->
{% include 'footer.html' %}
{% endblock %}