{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<br>
<link href="{% static 'css/register.css' %}" rel="stylesheet">

 <form method="POST" class='form-group' >
  <div class="imgcontainer">
    <img src="{% static 'image/logo.png' %}" alt="Avatar" class="avatar">
  </div>

  <div class="container">
      {% csrf_token %}
      {{ form|crispy }}
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <button type="submit" class="btn btn-success">Login</button>	
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
    </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> 
{% endblock %}
